.wrapper{
	overflow: auto;
	height: 100%
}
.thumbDesc{
	width: 200px;
	font-size: 12px;
}
.recommendations{
	height: 250px;
	overflow: hidden;
}
.recommendations ul{
	width: 10000px;
}
.recommendations img{
	width: 150px;
	height: 150px;
}
.recommendations {
	height: auto;
background: #565554;
}

.hidden.visibleTrue{
	display: block;
}
.lastClass li:last-child,.hidden,.lastClass+.visibleTrue{
	display: none;
}
input[type="text"][disabled="disabled"]{
	height: auto;
	padding: 0;
	background: none;
	color: #434241;
	font-size: 12px;
	pointer-events: none;
}
.rec_fr_u{
	color: #e9e5e2;
	letter-spacing: 5px;
	font-size: 12px;
	word-spacing: 5px;
	font-family: Lato700;
	background: #4d4c4b;
	text-align: center;
	height: 50px;
	width: 100%;
	line-height: 50px;
}
.recm_ul{
	background: #565554;
}
.recommWidth{
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
}
.recommendations img{
	width: 120px;
	height: 125px;
}
div.recommendations ul > li:hover {
	background: #747371;
}
div.recommendations ul > li:hover .crossmark{
	display: block;
}
div.recommendations ul > li {
	margin-right: 10px;
	padding: 10px;
	position: relative;
}
.thumbDesc{
	margin-left: 10px;
	width: 170PX;
	margin-top:10px;
}
.contentwrap{
	width: 1020px;
	margin: 0 auto;
	position: relative;
}
.button{
	border-radius: 5px;
	width: 90px;
	height: 29px;
	padding: 0px;
	line-height: 23px;
	color: #e55b17;
	font-size: 12px;
	letter-spacing: 0px;
	margin-top: 18px;
	margin-right: 10px;
	font-family: lato700;
	background: #fff;
}

.desc_content{
	color: #ffffff;
	font-family: lato400;
}
.desc_content b{
	width: 170px;
	display: inline-block;
	word-wrap: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 20px;
	font-size: 12px;
}
.desc_content span{
	display: inline-block;
	line-height: 16px;
	width: 190px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	height: 30px;
	margin-top: -5px;
	opacity: 0.8;
}
.category{
	float: left;
	width: 200px;
	height: 560px;
	margin-left: 30px;
	background: -webkit-linear-gradient(#ece9e6, #fff);
	background: -o-linear-gradient(#ece9e6, #fff);
	background: -moz-linear-gradient(#ece9e6, #fff);
	background: linear-gradient(#ece9e6, #fff);
	font-family: lato400;
	-webkit-transition: all 250ms ease-in-out;
}
.All{
	display: inline-block;
	color: #e55b17;
	width: 100%;
	background: #E1DEDB;
	margin-top: 20px;
	padding: 10px 0 10px 10px;
	border-right: 5px solid;
	font-size: 14PX;
	font-family: LATO700;
}
.innnerwrap{
	padding: 10px 0 0 10px;
}
.categorytitle{
	display: inline-block;
	color: #565554;
	font-family: lato700;
	margin-bottom: 10px;
	margin-top: 15px;
	font-size: 14px;
}
.expertslist li{
	color: #e55b17;
	line-height: 24px;
	font-family: lato300;
	font-size: 14px;
	cursor: pointer;
	word-spacing: 0px;
}
.item_badge{
	font-family: lato700;
	margin-left: 2px;
	font-size: 14px;
}
.expertslist{
	margin-bottom: 20px;
}
.subscriptions{
	float: left;
    width: 440px;
    padding-left:40px;
}
.subsribe_list{
	display: inline-block;
	font-family: lato700;
	letter-spacing: 2px;
	font-size: 14px;
	word-spacing: 4px;
	margin: 20px 0;
	line-height: 25px;
}
.subscriptions .thumbnail img{
	width: 160px;
	height: 160px;
}
.subscriptions ul li{
	width: 160px;
	margin-right: 40px;
	margin-bottom: 40px;
	position: relative;
}
.sub_content b{
	width: 190px;
	display: inline-block;
	word-wrap: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 20px;
	font-size: 12px;

}
.sub_content span{
	display: inline-block;
	line-height: 16px;
	width: 190px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	height: 30px;
	margin-top: -5px;
}
.rgtwrap{
	background: #ece9e6;
	width:320px;
	height: 815px;
	float: left;
	margin-top:20px;
	padding: 10px;
	border: 6px solid #e6e2df;
	border-radius: 5px;
	overflow: auto;
}
.timeline_content .LoadButton{
	margin: 20px 86px;
	width: 100px;
	padding: 10px;
	background: #434241;
	color: #e9e5e2;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}
.ragpickerdetails{
	height: 283px;
}
.displaypic{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: grey;
	float: left;
	margin: 10px 0 0 0;
}
.userdetils{
	float: left;
	margin-top: 10px;
}
.userdesc{
	float: left;
	width: 215px;
	padding: 10px;
}
.surname {
	width: 220px;
	display: inline-block;
	font-size: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-family: lato700;
	word-spacing: 0px;
	color: #333;
	line-height: 20px;
}
.emailId {
	display: inline-block;
	width: 220px;
	line-height: 18px;
	height: 18px;
	word-wrap: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 12px;
	font-family: lato400;
}
.edit a{
	color: #e55b17;
	font-family: lato300;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	cursor: pointer;
	text-decoration: none;

}
.taskdone{
	float: left;
	border-top: 1px solid #dddad7;
	width: 100%;
	padding-top: 10px;
	margin-bottom: 10px;
}
.taskTitle{
	float: left;
		font-family: lato700;
	letter-spacing: 2px;
	font-size: 14px;
	word-spacing: 4px;
}
.viewtype{
	float: right;
	color: #e55b17;
	font-family: lato300;
	font-size: 13px;
	margin-right: 5px;
}
.viewtype a{
	 color: #e55b17;
	 text-decoration: none;
}
.item_pledge{
	display: inherit;
	font-family: lato700;
	font-size: 14px;
	color: #565554;
	height: 20px;
	line-height: 22px;
}
.your_pledge{
	font-size: 12px;
	font-family: lato400;
	display: inline-block;
	margin-right: 5px;
}
.pledge_count{
	font-family: lato700;
	font-size: 14px;
	color: #565554;
	height: 20px;
	line-height: 14px;
	display: inline-block;
}
.ragpickerdetails {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.ragpickerdetails ul li{
	width: 100%;
	margin-top: 10px;
}
.buttonwrap{
	float: left;
	margin-top: -14px;
}
.ratingwrap{
	float: right;
	margin-top: -8px;
	margin-bottom: 7px;
}
.ratingwrap ul li{
	width: 50px;
	height: 5px;
	border: 1px solid #dddad7;
	margin-top: 3px;

}
.ratingwrap ul{
	position: relative	
}
.greenBars{
	background: #89b44c;
}
.seeMore{
	color: #e55b17;
font-size: 12px;
padding: 5px 0 10px;
display: block;
}
.seeMore:hover{
	text-decoration: underline;
}
.Campaigns{
	float: left;
	border-top: 1px solid #dddad7;
	width: 100%;
	padding-top: 15px;
	margin-bottom: 10px;
}
.uptodate{
	float: right;
	margin-top:5px;
	text-align: right;
	font-size: 12px;
	font-family: lato400;
	margin-bottom: 10px;
}
.upto{
	display: inherit;

}
.date{
	display: inline-block;
}
.timelinewrap{
	width: 100%;
    background: #ece9e6;
    height: auto;

}
.timelineinnerwrap{
	width: 655px;
	margin: auto;
}
.timeline_heading{
	display: inline-block;
	font-family: lato700;
	letter-spacing: 2px;
	font-size: 14px;
	word-spacing: 5px;
	margin: 20px 0 30px 80px;
}
.item_date{
	float: left;
	margin-right: 10px;
	font-size: 13px;
	font-family: lato400;
	line-height: 20px;
}
.circle{
	float: left;
	width: 20px;
	height: 20px;
	background: transparent;
	border-radius: 50%;
	border: 2px solid #e55b17;
}
.line{
    float: left;
	width: 1px;
	background: #e55b17;
	height: 85%;
	margin-top: 20px;
	margin-left: -10px;
	opacity: 0.7;
	margin-right: 25px;
}
.timeline_content ul li{
	height: 120px;
}
.timeline_desc{
	float: left;
	
}
.timeline_optseperator{
	float: left;
	border: 1px solid #565554;
	height: 11px;
	margin: 5px;
	opacity: 0.7;
}
.timeline_tittle{
	font-family: lato700;
	font-size: 15px;
	line-height: 18px;
}
.timeline_author{
	font-size: 14px;
	line-height: 20px;
	word-spacing: 1px;
	font-family: lato300;
}
.mar_rgt3{
	margin-right: 3px;
	float: left;
}
.timeline_option{
	color: #e55b17;
	font-family: lato700;
	line-height: 18px;
	font-size: 14px;
	cursor: pointer;
}
.article_count{
    float: left;
	font-family: lato700;
	font-size: 22px;
}
.crossmark{
	background-image: url(../images/cross.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 14px;
	height: 15px;
	cursor: pointer;
	position: absolute;
	right: 10px;
	display: none;
}
@media (max-width: 1000px){
	.category{
		width: 0; height: 0;overflow: hidden;position: absolute;
	}
	.category.categoryActive{		
		width: 200px;
		height: 560px;
		z-index: 100;
	}
	.contentwrap {
		width: 800px;
	}
	.hamburgerCategory{
		width: 25px;
		height: 20px;
		margin: 21px 15px 0 0;
		cursor: pointer;
	}
	.All .hamburgerCategory{
		margin: -1px 15px 0 0;
	}
}
@media (max-width: 800px){
	.contentwrap {
		width: 600px;
	}
	.subscriptions {
		width: 270px;
	}
}
